$black: #000;
$blue: #44b6c2;
$green: #98c379;
$grey: #282c34;
$grey-dark: #21252b;
$grey-darker: #1c1f24;
$grey-light: #2c313c;
$grey-lighter: #39404f;
$orange: #d5a273;
$pink: #c678dd;
$red: #e06c75;
$white: #ddd;
