@import 'colors';

.container {
  max-width: none;
}

.container-trimmed {
  padding: 0px;
  margin: 0px;
}

.container-full {
  width: 100%;
  height: 100%;
}

.container-nav {
  background-color: $grey-darker;
  height: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
}

@media only screen and (min-width: 1101px) {
  .container-nav {
    height: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .container-nav {
    height: 40px;
  }
}

.container-titlebar {
  height: 120px;
  background-color: $grey-darker;
}

.container-titlebar-header {
  min-width: 400px;
}

.container-icons {
  position: absolute;
  bottom: 10px;
  right: 0;
  min-width: 220px;
  padding-right: 10px;
}

.container-content-explorer {
  max-width: 1000px;
  margin: auto;
}

.container-content-section {
  padding-top: 20px;
}

.container-content-block {
  width: 440px;
  margin: auto 10px;
  text-align: center;

  &-circle {
    overflow: hidden;
    width: 340px;
    height: 340px;
    margin: 15px 60px 15px 60px;
    border-radius: 50%;
    border: solid 2px $grey-darker;

  }

  &-square {
    padding: 15px 0px 15px 0px;
  }

  &-border {
    background-color: $grey-darker;

    &-square {
      padding: 10px 0;
      border-top: solid 2px $grey-lighter;
      border-bottom: solid 2px $grey-darker;
    }
  }
}

.container-skill-tags {
  width: 400px;
}

.container-experience {
  width: 400px;
}

.container-background {
  width: 400px;
}

.container-code-samples {
  width: 400px;
}

.container-footer-top {
  height: 90px;
  text-align: right;
}

.container-footer-bottom {
  height: 50px;
  background-color: $grey-darker;
}

.container-bottom-border {
  height: 10px;
  margin-top: -10px;
  background: #fff url('bottom-border.png') repeat-x;
}
