@import 'colors';

body {
  background-color: $grey;
  color: $white;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}
