@import "colors";

a {
  color: $orange;
  text-decoration: underline $grey-lighter;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.link-icon {
  float: right;
  margin: 0px 5px 5px 5px;
}

.link-experience {
  padding-right: 15px;
}

.link-back-to-top {
  width: 100px;
  font-size: 17px;
}
