ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-item-lg {
  margin-bottom: 5px;
  font-size: 30px;
  color: $pink;
}

.list-item-md {
  margin-bottom: 5px;
  font-size: 26px;
  color: $blue;
}

.list-item-sm {
  margin-bottom: 5px;
  font-size: 22px;
  color: $red;
}

.list-professional-achievements {
  text-align: left;
}

.list-item-professional-achievements {
  margin-bottom: 5px;
  font-size: 16px;

  &:before {
    content: "> ";
  }

  &:nth-child(1):before, &:nth-child(4):before {
    color: $green;
  }

  &:nth-child(2):before, &:nth-child(5):before {
    color: $red;
  }

  &:nth-child(3):before, &:nth-child(6):before {
    color: $blue;
  }
}

.list-top-attributes {
  text-align: left;
}

.list-item-top-attributes {
  margin-bottom: 5px;
  font-size: 16px;

  &:before {
    content: "x ";
  }

  &:nth-child(1):before, &:nth-child(7):before {
    color: $pink;
  }

  &:nth-child(2):before, &:nth-child(8):before {
    color: $orange;
  }

  &:nth-child(3):before, &:nth-child(9):before {
    color: $green;
  }

  &:nth-child(4):before, &:nth-child(10):before {
    color: $blue;
  }

  &:nth-child(5):before, &:nth-child(11):before {
    color: $red;
  }

  &:nth-child(6):before, &:nth-child(12):before {
    color: $blue;
  }
}

.list-background-top-personal-achievements {
  text-align: left;
}

.list-item-background-top-personal-achievements {
  margin-bottom: 5px;
  font-size: 16px;

  &:before {
    content: "& ";
  }

  &:nth-child(1):before, &:nth-child(4):before {
    color: $blue;
  }

  &:nth-child(2):before, &:nth-child(5):before {
    color: $orange;
  }

  &:nth-child(3):before, &:nth-child(6):before {
    color: $green;
  }
}

.list-background-hobbies {
  text-align: left;
}

.list-item-background-hobbies {
  margin-bottom: 5px;
  font-size: 16px;

  &:before {
    content: "% ";
  }

  &:nth-child(1):before, &:nth-child(4):before {
    color: $red;
  }

  &:nth-child(2):before, &:nth-child(5):before {
    color: $green;
  }

  &:nth-child(3):before, &:nth-child(6):before {
    color: $pink;
  }
}
