.picture-header {
  width: 100vw;
  max-width: 100%;
  padding-top: 40px;
}

.picture-icon {
  width: 25px;
  height: 25px;
}

.picture-icon-sm {
  margin-right: 10px;
}

.picture-icon-lg {
  height: 80px;
}


.picture-profile {
  height: 340px;
  width: 340px;
}

.picture-thumbnail {
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.picture-showing-off {
  height: 340px;
  width: 340px;
}

.picture-necro {
  height: 130px;
  padding-right: 10vw;
}
