@media only screen and (min-width: 901px) {
  .spacer-sm {
    height: 20px;
  }

  .spacer-sm-400 {
    width: 400px;
    height: 20px;
  }

  .spacer-md {
    height: 40px;
  }

  .spacer-md-400 {
    width: 400px;
    height: 40px;
  }

  .spacer-lg {
    height: 60px;
  }

  .spacer-xl {
    height: 80px;
  }

  .spacer-xxl {
    height: 100px;
  }
}

@media only screen and (max-width: 900px) {
  .spacer-sm {
    height: 10px;
  }

  .spacer-sm-400 {
    width: 400px;
    height: 10px;
  }

  .spacer-md {
    height: 20px;
  }

  .spacer-md-400 {
    width: 400px;
    height: 20px;
  }

  .spacer-lg {
    height: 30px;
  }

  .spacer-xl {
    height: 40px;
  }

  .spacer-xxl {
    height: 50px;
  }
}
