.testimonial {
  &-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  &-quotation-mark {
    font-size: 16px;
    color: $orange;
  }

  &-text {
    font-size: 16px;
  }

  &-spacer {
    font-size: 16px;
    color: $orange;
  }

  &-by {
    font-size: 20px;
    color: $red;
  }

  &-at-symbol {
    font-size: 20px;
    color: $white;
  }

  &-at {
    font-size: 20px;
    color: $blue;
  }
}
