@import 'colors';

p, h1, h2, h3, h4, span {
  margin-bottom: 0;
  cursor: default;
}

@media only screen and (min-width: 1301px) {
  .text-titlebar-header {
    font-size: 32px;
    vertical-align: -30px;
  }

  .text-titlebar-sub-header {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1300px) {
  .text-titlebar-header {
    font-size: 30px;
    vertical-align: -25px;
  }

  .text-titlebar-sub-header {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1101px) {
  .text-nav-item-lg {
    display: inline;
  }

  .text-nav-item-sm {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .text-nav-item-lg {
    display: none;
  }

  .text-nav-item-sm {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .text-titlebar-header {
    font-size: 24px;
    vertical-align: -20px;
  }

  .text-titlebar-sub-header {
    font-size: 14px;
  }
}

.text-nav-item-sm {
  cursor: pointer;
}

.text-nav-item-lg {
  cursor: pointer;
  font-size: 20px;
}

.text-titlebar-header {
  display: inline;
  min-width: 400px;
  margin-bottom: 10px;
  padding-left: 20px;
  cursor: default;
  text-decoration: underline dotted $blue;
}

.text-titlebar-sub-header {
  min-width: 200px;
  padding-left: 30px;
  cursor: default;
  text-decoration: underline dotted $orange;
}

@media only screen and (min-width: 901px) {
  .text-content-section-header {
    &-odd {
      font-size: 28px;
    }

    &-even {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .text-content-section-header {
    &-odd {
      font-size: 22px;
    }

    &-even {
      font-size: 22px;
    }
  }
}

.text-content-section-header {
  &-odd {
    padding-bottom: 15px;
    text-decoration: underline dotted $orange;
  }

  &-even {
    padding-bottom: 15px;
    text-decoration: underline dotted $green;
  }
}

.text-location {
  margin: 10px;
  font-size: 20px;
}

.text-based {
  margin: 10px;
}

.text-skill-tag {
  margin: 5px 5px 5px 5px;
  padding: 0px 10px;
  border-radius: 20px;
  cursor: default;
  border-style: solid;
  border-width: 2px;

  &-red {
    border-color: $red;
  }

  &-green {
    border-color: $green;
  }

  &-orange {
    border-color: $orange;
  }

  &-pink {
    border-color: $pink;
  }

  &-blue {
    border-color: $blue;
  }
}

.text-experience-header {
  min-width: 400px;
  font-size: 24px;
  text-align: left;
  text-decoration: dotted underline $red;
}

.text-experience-subheader {
  min-width: 400px;
  font-size: 22px;
  text-align: left;
  text-decoration: dotted underline $blue;
}

.text-experience-tagline {
  min-width: 400px;
  font-size: 18px;
  font-style: italic;
  text-align: left;
}

.text-experience-links {
  min-width: 400px;
  text-align: left;
}

.text-experience-description {
  min-width: 400px;
  text-align: left;
}

.text-experience-termination-reason {
  text-align: left;
}

.text-background-education-header {
  font-size: 20px;
  text-decoration: dotted underline $red;
}

.text-background-education-sub-header {
  font-size: 18px;
  font-style: italic;
  text-decoration: dotted underline $pink;
}

 .text-background-education-body {
   text-align: left;
 }

 .text-code-samples-header {
   text-decoration: dotted underline $orange;
 }

 .text-code-samples-description {
   text-align: left;
 }

 .text-code-samples-url {
   cursor: default;
 }

 .text-version {
   padding-top: 10px;
   padding-left: 10vw;
 }
